<%= form_for @setting, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <%= f.label :update_emails, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.check_box :update_emails, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :digest_emails, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.check_box :digest_emails, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :promotional_emails, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.check_box :promotional_emails, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  settings_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
