<%- model_class = Setting -%>
<div class="page-header">
  <h1><%=t '.title', :default => Setting %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:update_emails) %></th>
      <th><%= model_class.human_attribute_name(:digest_emails) %></th>
      <th><%= model_class.human_attribute_name(:promotional_emails) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @settings.each do |setting| %>
      <tr>
        <td><%= setting.id %></td>
        <td><%= setting.update_emails %></td>
        <td><%= setting.digest_emails %></td>
        <td><%= setting.promotional_emails %></td>
        <td><%=l setting.created_at, format: :long %></td>
        <td>
          <%= link_to setting_path(setting), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to setting_path(setting), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_setting_path,
            :class => 'btn btn-primary' %>
